openapi: 3.0.0
info:
  title: Gokuk API
  description: Personal meal planner and shopping helper
  version: 0.0.0
servers:
  - url: http://gokuk.bendit.dev
    description: Public instance
paths:
  /api/v1/recipes:
    get:
      summary: Returns a list of recipes.
      responses:
        '200':    # status code
          description: A JSON array of user names
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Recipe"
    post:
      summary: Create new recipe
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Recipe"
      responses:
        '201':
          description: Recipe created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Recipe"
        '400':
          description: Application was unabled to create new recipe with given parameters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/recipes/shopping-list:
    post:
      summary: Generate shopping list from recipes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
                format: uuid
      responses:
        '200':
          description: Shopping list based on list of recipes
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Product"
  /api/v1/recipes/{recipeId}:
    get:
      summary: Get recipe with recipeId
      parameters:
        - name: recipeId
          in: path
          required: true
          description: Id of a recipe
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: JSON representing single recipe
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Recipe"

        '404':
          description: Recipe with given id does not exist
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/meal-plans:
    post:
      summary: Create new meal plan
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#components/schemas/MealPlan"
      responses:
        '201':
          description: Meal plan created
          content:
            application/json:
              schema:
                $ref: "#components/schemas/MealPlan"
        '400':
          description: Application was unabled to create new Meal Plan with given parameters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/meal-plans/{mealPlanId}/shopping-list:
    get:
      summary: Returns shopping list based on meal plan
      parameters:
        - name: mealPlanId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: List of products
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Product"
        '404':
          description: No mealplan of given id
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

components:
  schemas:
    Error:
      type: object
      properties:
        code:
          type: string
          format: uuid
        message:
          type: string
    Ingredient:
      type: object
      properties:
        productId:
          type: string
          format: uuid
        amout:
          type: integer
        unit:
          type: string
    Recipe:
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        ingredients:
          type: array
          items:
            $ref: "#/components/schemas/Ingredient"
        description:
          type: string
    MealPlan:
      type: object
      properties:
        id:
          type: string
          format: uuid
        recipeIds:
          type: array
          items:
            type: string
            format: uuid
    Product:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        producer:
          type: string
    ShoppingList:
      type: object
      properties:
        id:
          type: string
          format: uuid
        products:
          type: array
          items:
            $ref: "#/components/schemas/Product"

